/* Custom Stylesheet */


nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.col1{
  background-color: #4E6E58;
}

.col2{
  background-color: #81C14B;
}

.col3 {
  background-color: #ABDF75;
}

.col4 {
  background-color: #849483;
}

.col5 {
  background-color: #D0CCD0;
}

.button-collapse {
  color: #388e3c;
}

.btn-floating:hover{
  background-color: #4ba850;
}

.expando {
  background-color: #388e3c;
}

.parallax-sub-container {
  height: 300px;
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.sicon {
  background-color: white;
  padding: 3px;
}

.icon-block {
  padding: 0 15px;

}
.icon-block .material-icons {
  font-size: inherit;
  /*
  color: #33691e;
  */
  color: #388e3c;
}

.col-border{
  border: 1px;
  border-color: #CCC;
  border-style: solid;
}

.col-border:hover{
  background-color: rgba(0, 0, 0, 0.1)
}

.section{
  padding: 0;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

a>h5 {
  color: black;
  margin: auto;
}

a>h5:hover {
  color: grey;
}


div.card-image.waves-effect {
  overflow: visible;
}


hr{
  color: #388e3c;
  max-width: 50%;
}
.sub-head{
  color: #388e3c;
}

.sub-head-white{
  color: #ffffff;
}

.sub-head-div{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
footer.page-footer {
  margin: 0;
}