/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #388e3c;
}

.btn-floating:hover{
  background-color: #4ba850;
}

.expando {
  background-color: #388e3c;
}

.parallax-sub-container {
  height: 300px;
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.sicon {
  background-color: white;
  padding: 3px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
  /*
  color: #33691e;
  */
  color: #388e3c;
  
}

a>h5 {
  color: black;
}

a>h5:hover {
  color: black;
  text-decoration: underline dotted;
}


div.card-image.waves-effect {
  overflow: visible;
}


hr{
  color: #388e3c;
  max-width: 50%;
}
.sub-head{
  color: #388e3c;
}

.sub-head-white{
  color: #ffffff;
}

.sub-head-div{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
footer.page-footer {
  margin: 0;
}