/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #388e3c;
}


  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.sicon {
  background-color: white;
  padding: 3px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
  /*
  color: #33691e;
  */
  color: #388e3c;
  
}

h5{
  /*
  color: #388e3c;
  */
}

hr{
  color: #388e3c;
  max-width: 50%;
}
.sub-head{
  color: #388e3c;
}
footer.page-footer {
  margin: 0;
}