/* Custom Stylesheet */

html{
  font-family: 'Libre Franklin', sans-serif; 
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.col1{
  /*
  background-color: #4E6E58;
  
  background-color: #536DFE;
  */
  background: linear-gradient(#ffffff, #536DFE) 
}

.col2{
  /*
  background-color: #81C14B;
  
  background-color: #448AFF;
  */
  background: linear-gradient(#ffffff, #448AFF)

}

.col3 {
  /*
  background-color: #ABDF75;
  */
  background-color: #40C4FF;
}

.col4 {
  /*
  background-color: #849483;
  */

  background-color:  #18FFFF;
}

.col5 {
  background-color: #D0CCD0;
}

.button-collapse {
  /*
  color: #388e3c;
  */
  color: #3F51B5;
}

.btn-floating:hover{
  /*
  background-color: #4ba850;
  */
  background-color: #536DFE;
}

.expando {
  /*
  background-color: #388e3c;
  */
  background-color: #3F51B5;
}

.parallax-sub-container {
  height: 300px;
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.sicon {
  background-color: white;
  padding: 3px;
}

.icon-block {
  padding:  15px;

}
h2>.material-icons {
  
  font-size: inherit;
  
  color: #388e3c;
}



.btn, .btn-floating, .btn-large {
  background-color: #3F51B5;
}

.col-cell{
  border: 1px;
  border-color: #CCC;
  border-style: solid;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
}

.simple-linear {
  background: linear-gradient(#ffffff, #536DFE) 
}

.col-cell:hover{
  background-color: rgba(0, 0, 0, 0.1)
}

.section{
  padding: 0;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.text-box{
  flex: 1;
  padding: 1rem;
  padding-top: 1.75rem;
}

a>h5 {
  color: black;
  margin: auto;
  font-weight: 500;
}

a>h5:hover {
  color: grey;
}


div.card-image.waves-effect {
  overflow: visible;
}


hr{
  /*
  color: #388e3c;
  */
  color: #3F51B5;
  max-width: 50%;
}

.headline{
  color: #3F51B5;
}

.sub-head{
  /*
  color: #388e3c;
  */
  color: #3F51B5
}

.sub-head-white{
  color: #ffffff;
}

.sub-head-div{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
footer.page-footer {
  margin: 0;
}